main {
  background: radial-gradient(circle at top, rgb(0, 18, 26), rgba(4, 96, 133, 0.6));
  height: 100vh;
  width: 100vw;
}

h1#timer {
  margin: 50px 0;
  color: rgb(240, 236, 236);
  text-align: center;
  font-size: 13vh;
  font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#timer-start {
  margin-bottom: 50px;
  width: 80vw;
  max-width: 480px;
  height: 14vw;
  max-height: 60px;
}

#sound-test {
  margin-bottom: 50px;
  width: 60vw;
  max-width: 360px;
  height: 14vw;
  max-height: 60px;
}

#reset {
  width: 20vw;
  max-width: 120px;
  height: 14vw;
  max-height: 60px;
}

.button-add-time {
  width: 20vw;
  max-width: 120px;
  height: 14vw;
  max-height: 60px;
}

button {
  background: rgba(0, 18, 26, 0.1);
  color: rgb(240, 236, 236);
  font-weight: 700;
}

button:hover {
  background: rgba(0, 18, 26, 0.4);
}

button:active {
  background: rgba(0, 18, 26, 0.8);
}

.material-icons {
  color: rgb(240, 236, 236);
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 36px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}